.gradle

.settings

# IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

#output
debug/
release/
buildSrc/build

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

local.properties
